<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-5">
        <form
          [formGroup]="userForm"
          class="card-body cardbody-color p-lg-5"
          autocomplete="off"
        >
          <div class="text-center">
            <img
              src="../../../assets/img/logo.png"
              class="img-fluid my-3"
              width="300px"
              alt="profile"
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="Username"
              placeholder="Nombre de usuario"
              [(ngModel)]="name"
              formControlName="name"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              [(ngModel)]="password"
              formControlName="password"
            />
          </div>
          <div *ngIf="error">
            <p class="text-danger py-2">{{ mensaje }}</p>
          </div>
          <div class="text-center">
            <button
              [routerLink]="['/date/formulario']"
              type="submit"
              class="btn btn-color disabled:btn-dark px-5 mb-5 w-100"
              [disabled]="validateForm()"
              (click)="login()"
            >
              Iniciar sesión
            </button>
          </div>
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">
            ¿No tienes una cuenta?
            <a [routerLink]="['/auth/register']" class="text-dark fw-bold">
              ¡Registrate!</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
