<div class="p-5 text-center">
  <h1 class="text-center text-4xl text-[#FFFFFF] mb-3 font-bold">CREAR HORA</h1>
  <form [formGroup]="hourForm" class="mt-8" autocomplete="off">
    <div class="mb-4">
      <input
        type="text"
        name="name"
        formControlName="name"
        id="name"
        placeholder="Ej: 10:00..."
        class="form-control bg-gray-100 text-gray-800 block w-50 mx-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      <div
        *ngIf="hourForm.get('name').invalid && hourForm.get('name').touched"
        class="text-white mt-2 bg-danger w-50 m-auto rounded p-1"
      >
        Nombre obligatorio o formato de hora invalido
      </div>
    </div>
    <div class="mb-6">
      <label for="day" class="form-label fw-bold fs-5"
        >Selecciona una fecha...</label
      >
      <select
        type="text"
        formControlName="day_id"
        name="day"
        id="day"
        placeholder="Día"
        class="form-select bg-gray-100 text-gray-800 block w-50 mx-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      >
        <option *ngFor="let day of days.data" [value]="day.id">
          {{ day.name }} - Empleado: {{ day.employee.name }}
        </option>
      </select>
      <div
        *ngIf="hourForm.get('day_id').invalid && hourForm.get('day_id').touched"
        class="text-white mt-2 bg-danger w-50 m-auto rounded p-1"
      >
        Día obligatorio
      </div>
    </div>
    <div class="flex items-center justify-center">
      <button
        class="m-auto buttonHora disabled:btn-dark btn btn-color disabled:btn-dark mt-5 px-5 py-2 w-50 rounded"
        (click)="crear()"
        [disabled]="validateForm()"
      >
        Crear hora
      </button>
    </div>
  </form>
</div>
